body {
  background: #f9f7fe;
}

a {
  color: #532b83;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-logo {
  max-width: 350px;
  display: block;
  margin: 0 auto;
}

.App-header {
  margin-top: -65px;
  margin-bottom: -95px;
}

.App-footer {
  text-align: center;
  font-size: 14px;
  margin: 30px 0;
}

.App-footer a {
  text-decoration: none;
}

.App-footer:hover a {
  color: #7645b3;
  text-decoration: underline;
}
