body {
  background: #f9f7fe;
}

a {
  color: #532b83;
}

.App-logo {
  max-width: 300px;
  display: block;
  margin: 0 auto;
}

.App-header {
  margin-top: -65px;
  margin-bottom: -95px;
}

.App-footer {
  text-align: center;
  font-size: 14px;
  margin: 30px 0;
}
